* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
  width:100%;
}





.header-container{
  background: linear-gradient(to right, #5D26C1,  #26a0da, #a17fe0); 
  height: 65px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 30px;
  font-weight:700;
  line-height: 24px;
  letter-spacing: -0.1em;
  padding:40px;
}
.lens-icon{
  margin-right: 7px;
  margin-top:2px;
}

.intro-text{
  font-size:19px;
  font-weight: 500;
  
}
main{
  padding: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width:100%;
}
.form{
  width:100%;
  display:flex;
  flex-direction: column;
  gap: 17px;
  padding-top: 15px;
  width:40%; 
  padding: 10px;
  border-radius: 5px;
  height: fit-content ;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


.form-input {
  font-family: "Karla", sans-serif;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
  border-radius: 5px;
  font-size: 17px;
  padding: 10px;
}

.form-button {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background: linear-gradient(to right, #5D26C1,  #26a0da, #a17fe0); 
  color: white;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  padding: 10px;
}

.meme{
  width: 55%;
  margin-right:30px;
  position: relative;
  height: fit-content;
}

.meme-image{
  
  width:100%;
  border-radius: 5px;
  object-fit: cover;
}

.meme-text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 3vw;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: -1%;
}

.top {
  top: 1%;
}
